body {
  position: relative;
}

.clicked {
  color: red;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

.bgImg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 50% 50%;
    background-size: cover;
    background-color: lightcoral;
    background-repeat: no-repeat;
}